{% extends "base.html" %}

{% block content %}

<h1>LOGIN PAGE</h1>

<form method="post">
    {{ login_form.hidden_tag() }}

    {{ login_form.email.label }}
    {{ login_form.email }}
    <br>
    {{ login_form.password.label }}
    {{ login_form.password }}
    <br>
    {{ login_form.remember_me }}
    {{ login_form.remember_me.label }}
    <br>
    {{ login_form.submit() }}
</form>
<p><a href="{{ url_for('logout') }}">Logout</a></p>
{% with message = get_flashed_messages() %}
{% if message %}
{{ message }}
{% endif %}
{% endwith %}
{% endblock %}