{% extends "base.html" %}

{% block content %}

<br>
<br>

<h1>The Feed</h1>

<br>

{% for post in posts.items %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.profile_pic) }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ post.author.username }}
                    {{ post.date_posted.strftime('%d/%m/%Y') }}
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
        <br>
        <br>
        <br>
        <br>
{% endfor %}

<!-- NAVIGATE THROUGH DIFFERENT PAGES OF POSTS -->
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- IF THE PAGE WE'RE ON IS EQUAL TO THE PAGE NUMBER -->
        {% if posts.page == page_num %}
        <!-- HAVE A DIFFERENT STYLED BUTTON WHEN YOURE ON THE CURRENT PAGE -->
        <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a> 
        {% endif %}
    {% else %}

    {% endif %}
{% endfor %}
{% endblock %}