{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-6-xs">
            <h2>Welcome...</h2>
            <br>
            <br>
            <p>To access this website you will need to create an account. On this site you will be able to create a basic user account and post to a global feed which can be accessed by all other users!</p>
            <br>
            <p>Make an account and join our {{ current_users | length }} other users!</p>
        </div>
    </div>
</div>



{% endblock %}