{% extends "base.html" %}

{% block content %}

<br>
<br>
<br>

<div class="content-section">
    <form method="post">
        {{ login_form.hidden_tag() }}

    <!-- EMAIL -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                {{ login_form.email.label (class="form-control-label") }}
                {{ login_form.email (class="form-control form-control-lg is-invalid") }}
                {% if login_form.email.errors %}
                    <div class="invalid-feedback">
                    {% for error in login_form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% endif %}
                <br>
                </div>

            <!-- PASSWORD -->
                <div class="form-group">
                {{ login_form.password.label (class="form-control-label") }}
                {{ login_form.password (class="form-control form-control-lg is-invalid") }}
                {% if login_form.password.errors %}
                    {% for error in login_form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <br>
                </div>

            <!-- REMEMBER ME -->
                <div class="form-group">
                {{ login_form.remember_me }}
                {{ login_form.remember_me.label (class="form-control-label") }}
                <br>
            </div>
        </fieldset>

        <!-- SUBMIT -->
            {{ login_form.submit() }}
            <span><a href="{{ url_for('logout') }}">Logout</a></span>
    </form>
</div>

<!-- {% with message = get_flashed_messages() %}
{% if message %}
{{ message }}
{% endif %}
{% endwith %} -->
{% endblock %}