{% extends "base.html" %}

{% block content %}

<h1>REGISTER PAGE</h1>

<form method="post">
    {{ register_form.hidden_tag() }}

<!-- USERNAME -->
    {{ register_form.username.label }}
    {{register_form.username }}
    {% if register_form.username.errors %}
        {% for error in register_form.username.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
    <br>

    
<!-- EMAIL -->
    {{ register_form.email.label }}
    {{ register_form.email }}
    {% if register_form.email.errors %}
        {% for error in register_form.email.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
    <br>


<!-- PASSWORD -->
    {{ register_form.password.label }}
    {{register_form.password }}
    {% if register_form.password.errors %}
        {% for error in register_form.password.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
    <br>


<!-- PASSWORD2 -->
    {{ register_form.password2.label }}
    {{ register_form.password2 }}
    {% if register_form.password2.errors %}
        {% for error in register_form.password2.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% endif %}


    <br>

<!-- SUBMIT -->
    {{ register_form.submit() }}
</form>

<p>Already have an account? Login <a href="{{ url_for('login') }}">here</a></p>
<!-- {% with message = get_flashed_messages() %}
{% if message %}
{{ message }}
{% endif %}
{% endwith %} -->

{% endblock %}