{% extends "base.html" %}

{% block content %}

<br>
<br>
<br>

<div class="content-section">
    <form method="post">
        {{ register_form.hidden_tag() }}

    <!-- USERNAME -->
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Register</legend>
            <div class="form-group">
                {{ register_form.username.label (class="form-control-label") }}
                {{register_form.username (class="form-control form-control-lg is-invalid") }}
                {% if register_form.username.errors %}
                    {% for error in register_form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <br>

                
            <!-- EMAIL -->
                {{ register_form.email.label (class="form-control-label") }}
                {{ register_form.email (class="form-control form-control-lg is-invalid") }}
                {% if register_form.email.errors %}
                    {% for error in register_form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <br>


            <!-- PASSWORD -->
                {{ register_form.password.label (class="form-control-label") }}
                {{register_form.password (class="form-control form-control-lg is-invalid") }}
                {% if register_form.password.errors %}
                    {% for error in register_form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <br>


            <!-- PASSWORD2 -->
                {{ register_form.password2.label (class="form-control-label") }}
                {{ register_form.password2 (class="form-control form-control-lg is-invalid") }}
                {% if register_form.password2.errors %}
                    {% for error in register_form.password2.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <br>
            </div>
        </fieldset>

            <!-- SUBMIT -->
                {{ register_form.submit() }}
    </form>
</div>

<br>
<br>

<p>Already have an account? Login <a href="{{ url_for('users.login') }}">here</a></p>
<!-- {% with message = get_flashed_messages() %}
{% if message %}
{{ message }}
{% endif %}
{% endwith %} -->

{% endblock %}