{% extends "base.html" %}

{% block content %}

<h1>USER ACCOUNT PAGE</h1>
<p>Welcome {{ current_user.username }}</p>
<p>You can edit and view your profile here!</p>
<h2>Profile Picture:<img width="100" height="100" src="{{ image_file }}"></h2>
<h2>Username: {{ current_user.username }}</h2>
<h2>Email: {{ current_user.email }}</h2>
<form method="post" action="" enctype="multipart/form-data">
    {{ update_form.hidden_tag() }}

<!-- USERNAME -->
    {{ update_form.username.label }}
    {{ update_form.username }}
    {% if update_form.username.errors %}
        {% for error in update_form.username.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
    <br>

    
<!-- EMAIL -->
    {{ update_form.email.label }}
    {{ update_form.email }}
    {% if update_form.email.errors %}
        {% for error in update_form.email.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
    <br>

<!-- PROFILE PICTURE -->
    {{ update_form.profile_pic.label }}
    {{ update_form.profile_pic }}
    {% if update_form.profile_pic.errors %}
        {% for error in update_form.profile_pic.errors %}
            <span>{{ error }}</span><br>
        {% endfor %}
    {% endif %}
    <br>


<!-- UPDATE -->
    {{ update_form.submit() }}
</form>
{% endblock %}